/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.hero {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.heading {
  height: 65px;
  width: 100%;
  background-color: rgb(40, 40, 154);
  color: white;
  text-align: center;
  text-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

.contact-form-container h1 {
  color: #fff;
}

.contact {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align items center vertically */
  margin-bottom: 25px;
}

.form-group label {
  width: 150px; /* Fixed width for labels */
  font-weight: bold;
  margin-right: 15px; /* Space between label and input */
  color: #333;
  font-size: 16px;
}

.form-group input,
.form-group textarea {
  flex: 1; /* Allow input to fill remaining space */
  padding: 12px 15px;
  border: 1px solid #ccc; /* Grayish border */
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-group input:hover,
.form-group textarea:hover {
  border-color: #161313; /* Slightly darker gray on hover */
  background-color: #fff;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #0f2d10; /* Green border on focus */
  background-color: #fff;
  outline: none;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit-button {
  background-color: #402cb4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact {
    padding: 20px;
  }

  .hero {
    padding: 15px;
  }

  .heading {
    height: 65px;
    width: 95%;
    background-color: rgb(40, 40, 154);
    color: white;
    text-align: center;
    text-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: 10px;
  }

  .submit-button {
    width: 100%;
  }
}

.map-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.map {
  width: 48%; /* Adjust width as necessary */
  height: 300px; /* Set a fixed height for the maps */
  border: 0; /* Remove border */
}