<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/components/cursor/cursor.css" />
  </head>
  <body>
    <div class="cursor"></div>
    <div class="cursor-copy"></div>
    <div class="cursor-tail"></div>
    <div class="small-dots">
      <div class="small-dot"></div>
      <div class="small-dot"></div>
      <div class="small-dot"></div>
      <div class="small-dot"></div>
      <div class="small-dot"></div>
    </div>
    <script src="/components/cursor/cursor.js"></script>
  </body>
</html>
