body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    background-color: #f0f0f0;
    margin: 10px; /* Reduced gap around body */
    animation: backgroundAnimation 5s infinite alternate;
}


@keyframes backgroundAnimation {
    0% {
        background-color: #f0f0f0;
    }
    50% {
        background-color: #d0e8d0;
    }
    100% {
        background-color: #a0d4bc;
    }
}

.card {
    width: 400px;
    background: 34947c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px; /* Reduced gap around card */
    animation: cardAnimation 1s ease-in-out;
}

@keyframes cardAnimation {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.card-header, .card-footer {
    padding: 16px;
    text-align: center;
    margin: 10px; /* Reduced gap around card header and footer */
}

.card-title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold; /* Make title bold */
    font-style: italic; /* Make title italic */
}

.card-description {
    color: #666;
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px; /* Reduced gap around tabs */
    background-color: rgb(240, 236, 236);
}

.tabs button {
    flex: 1;
    padding: 8px; /* Reduced padding to make the height smaller */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    margin: 5px;
    color: darkgrey;
    transition: background-color 0.3s, color 0.3s;
}

.tabs button.active {
    border-bottom: 2px solid #eceef0;
    color: rgb(236, 232, 232); /* Change text color to black when active */
    background-color: #5a926b; /* Change background color to white when active */
}

.tabs button:hover {
    background-color: rgb(255, 255, 255);
    color: darkgrey;
}

.tabs button.active:hover {
    background-color: rgb(204, 160, 103);
    color: rgb(0, 0, 0);
}

.tabs button:not(.active) {
    background-color: transparent;
    color: darkgrey;
}

.tab-content {
    display: none;
    padding: 16px;
    margin: 10px; /* Reduced gap around tab content */
}

.tab-content.active {
    display: block;
}

.form-group {
    margin-bottom: 16px;
    margin: 10px; /* Reduced gap around form group */
    position: relative; /* Add relative positioning for icon positioning */
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold; /* Make labels bold */
}

.form-group input {
    width: 100%;
    padding: 8px;
    padding-right: 40px; /* Add padding to the right to make room for the icon */
    box-sizing: border-box;
    border-radius: 8px; /* Add round border to input tags */
    border: 2px solid grey; /* Add 2px grey border to input tags */
    transition: border-color 0.3s; /* Smooth transition for border color */
    margin: 10px 0; /* Reduced gap around input fields */
    animation: inputAnimation 0.5s ease-in-out;
}

@keyframes inputAnimation {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.form-group input:hover {
    border-color: #888a8d; /* Change border color on hover */
}

.form-group input:focus {
    border-color: darkgrey; /* Change border color to dark grey on focus */
    outline: none; /* Remove default outline */
}

.form-group .toggle-password {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888a8d;
    font-size: 1.2em; /* Adjust the size of the icon */
    margin-top: 12px; /* Add top margin of 1px */
}

.form-group .toggle-password:hover {
    color: darkgrey;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #0b0c0c;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0; /* Reduced gap around buttons */
    border-radius: 50px; /* Make buttons round */
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #333;
    transform: translateY(-2px);
}

.btn:disabled {
    background-color: #aaa;
}





.btn1{
    width: 100%;
    padding: 12px;
    background-color: #fff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0; /* Reduced gap around buttons */
    border-radius: 50px; /* Make buttons round */
    transition: background-color 0.3s, transform 0.3s;
}

.btn1:hover {
    background-color: #fff;
    transform: translateY(-2px);
}

.btn1:disabled {
    background-color: #aaa;
}

.btn1 a{
    text-decoration: none;
    color: #232836;
}

.btn2{
    width: 100%;
    padding: 12px;
    background-color: #4267b2;;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0; /* Reduced gap around buttons */
    border-radius: 50px; /* Make buttons round */
    transition: background-color 0.3s, transform 0.3s;
}

.btn2:hover {
    background-color: #016dcb;
    transform: translateY(-2px);
}

.btn2:disabled {
    background-color: #aaa;
}

.btn2 a{
    text-decoration: none;
    color: #FFF;
}

.btn3{
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0; /* Reduced gap around buttons */
    border-radius: 50px; /* Make buttons round */
    transition: background-color 0.3s, transform 0.3s;
}

.btn3:hover {
    background-color: #000000;
    transform: translateY(-2px);
}

.btn3:disabled {
    background-color: #aaa;
}

.btn3 a{
    text-decoration: none;
    color: #FFF;
}

.card-footer p {
    font-size: 12px;
    color: #666;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -12px;
    margin-bottom: 12px;
}

.success {
    color: green;
    font-size: 14px;
    margin-top: 12px;
    display: none;
}

.forgot-password {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 10px;
}

.forgot-password a {
    color: #3b56cc;
    text-decoration: none;
    font-size: 12px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.already-have-account {
    text-align: center;
    margin-top: 10px;
}

.already-have-account a {
    color: #3b56cc;
    text-decoration: none;
    font-size: 12px;
}

.already-have-account a:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    animation: modalAnimation 0.5s ease-in-out;
}

@keyframes modalAnimation {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
div.tab-content{
    height:50vh;
    overflow: auto;
    
}
.tab-content::-webkit-scrollbar{
    display:none;
}
label {
    margin: 0; /* Remove default margin from the label */
    display: flex; /* Set display to flex for proper alignment */
    align-items: center; /* Vertically center the icon and text */
    padding-left:5px;
}
.success-message {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 192, 203, 0.8); /* Pink translucent background */
    color: black;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    text-align: center;
}
