@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 700px;
  min-width: 320px;
  font-size: 16px;
}
body {
  line-height: 1;
  font-family: "Space Grotesk", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
button,
textarea {
  font-size: inherit;
  line-height: inherit;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
a {
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
[class*="__container"] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
@media (max-width: 767.98px) {
  .intro {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }
}
.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 127.5%;
  position: relative;
  text-transform: capitalize;
  display: inline-flex;
  font-family: Space Grotesk;
  padding: 0 7px 0 7px;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 720px) {
  .title {
    font-size: 25px;
  }
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-color: #000000; */
  border-radius: 0.4375rem;
}
.text {
  font-size: 18px;
  line-height: 127%;
  /* 23/18 */
}
@media (max-width: 479.98px) {
  .text {
    font-size: 16px;
  }
}
.process {
  padding: 70px 0 70px 0;
  font-family: Space Grotesk;
}
@media (max-width: 767.98) {
  .process {
    padding: 30px 0 30px 0;
  }
}
.process__intro {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 991.98px) {
  .process__intro {
    margin-bottom: 32px;
  }
}
.process__title {
  flex-shrink: 0;
}
/* .process__text {
	 max-width: 18.25rem;
} */
.accordions__list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
@media (max-width: 479.98px) {
  .accordions__list {
    gap: 1.25rem;
  }
}
.accordions__item {
  background-color: #f3f3f3;
  border-radius: 2.8rem;
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  box-shadow: 0px 0.3125rem 0px 0px #191a23;
  border: 0.0625rem solid #191a23;
}
@media (max-width: 479.98px) {
  .accordions__item {
    border-radius: 1.5rem;
  }
}
.accordions__control {
  display: flex;
  align-items: center;
  padding: 40px 60px;
  width: 100%;
  position: relative;
  height: 65px;
}
@media (max-width: 767.98px) {
  .accordions__control {
    padding: 30px;
  }
}
@media (max-width: 479.98px) {
  .accordions__control {
    padding: 20px;
  }
}
.accordions__number {
  font-size: 30px;
  font-family: Space Grotesk;
  padding-right: 1.5625rem;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .accordions__number {
    font-size: 30px;
    padding-right: 0.625rem;
  }
}
@media (max-width: 479.98px) {
  .accordions__number {
    font-size: 20px;
  }
}
.accordions__title {
  font-family: Space Grotesk;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  flex: 1 1 auto;
  display: flex;
  line-height: 120%;
  padding-right: 1.25rem;
  justify-content: flex-start;
  text-align: left;
}
@media (max-width: 767.98px) {
  .accordions__title {
    font-size: 20px;
  }
}
.accordions__icon {
  flex: 0 0 58px;
  display: flex;
  width: 58px;
  height: 58px;
  background-color: #f3f3f3;
  border: 1px solid #191a23;
  border-radius: 50%;
  position: relative;
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
}
@media (max-width: 479.98px) {
  .accordions__icon {
    flex: 0 0 32px;
    display: flex;
    width: 32px;
    height: 32px;
  }
}
.accordions__icon::before {
  content: "";
  width: 1.5625rem;
  height: 0.3125rem;
  background-color: #191a23;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 479.98px) {
  .accordions__icon::before {
    width: 15px;
    height: 2px;
  }
}
.accordions__icon::after {
  content: "";
  width: 1.5625rem;
  height: 0.3125rem;
  background-color: #191a23;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}
@media (max-width: 479.98px) {
  .accordions__icon::after {
    width: 15px;
    height: 2px;
  }
}
.accordions__content {
  padding: 0 60px 0 60px;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: 0.4s cubic-bezier(0.65, 0.2, 0.65, 1);
  box-sizing: content-box;
  position: relative;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .accordions__content {
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 479.98px) {
  .accordions__content {
    padding: 0 20px 0 20px;
  }
}
.open .accordions__content {
  padding: 20px 60px 40px 60px;
}
@media (max-width: 767.98px) {
  .open .accordions__content {
    padding: 20px 30px;
  }
}
@media (max-width: 479.98px) {
  .open .accordions__content {
    padding: 0px 20px 20px 20px;
  }
}
.open {
  color: #ffffff;
  background-color: #000000;
}
.open .accordions__icon {
  transform: rotate(225deg);
}
.open .accordions__content {
  display: block;
}

.darkmode .faq-container {
  background-color: #333; 
  color: black;
}

/* media queries for fixing the padding in smaller screen size */
@media (max-width: 767.98px) {
  .accordions__item {
    padding: 1rem;
  }
}
@media (maxwidth: 479.98px) {
  .accordions__item {
    padding: 0.5rem;
  }
  .accordions__title {
    font-size: .5rem;
  }
  .process__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.accordions__number, .accordions__title {
  color: black;
}

.accordions__icon {
  color: black;
}
/* Popup Animation */
@keyframes popup {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
footer {
background-color: var(--secondary-color);
color: var(--primary-color);
text-align: center;
padding: 1rem 0;
position: relative;
bottom: 0;
width: 100%;
}

.footer-container {
display: flex;
align-items: flex-start;
justify-content: space-between;
padding: 30px 100px;
background-color: #f9f9f9;
color: var(--secondary-color);
flex-wrap: wrap;
gap: 20px;
}

.footer-description {
flex: 1;
max-width: 400px;

}

.footer-description h3 {
font-size: 24px;
margin-bottom: 15px;
font-weight: bold;
color: var(--secondary-color);
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.footer-description p {
font-size: 16px;
line-height: 1.6;
color: var(--secondary-color);
animation: slideIn 1.3s ease-in-out;
}

.footer-list h3 {
font-size: 20px;
margin-bottom: 15px;
color: var(--secondary-color);
font-weight: bold;
}

.footer-list ul {
list-style: none;
padding: 0;
}

.footer-list ul li {
margin-bottom: 10px;
}

.footer-list ul li a {
color: var(--secondary-color);
text-decoration: none;
font-size: 16px;
transition: color 0.3s ease;
}

.footer-list ul li a:hover {
color: var(--secondary-color);
}

.social-icons a {
display: inline-flex;
justify-content: center;
align-items: center;
width: 2.5rem;
height: 2.5rem;
background-color: transparent;
border: 0.2rem solid  #1a0202;
font-size: 1.2rem;
border-radius: 50%;
margin: 0.2rem 0.5rem 0.2rem 0;
transition: 0.3s ease;
color:var(--secondary-color) #b74b4b;
text-decoration: none;
}

.social-icons a:hover {
color: black;
transform: scale(1.3) translateY(-5px);
background-color: #fffefe;
box-shadow: 0 0 25px #0c0909ef;
}
/* Responsive Styles */
@media (max-width: 768px) {
.footer-container {
display: flex;
align-items: flex-start;
justify-content: space-between;
padding: 30px 100px;
background-color: var(--primary-color);
color: var(--secondary-color);
flex-wrap: wrap;
gap: 20px;
}

.footer-description {
flex: 1;
max-width: 400px;
}

.footer-description h3 {
font-size: 24px;
margin-bottom: 15px;
font-weight: bold;
color: var(--secondary-color);
}

.footer-description p {
font-size: 16px;
line-height: 1.6;
color: var(--secondary-color);
}

.footer-list h3 {
font-size: 20px;
margin-bottom: 15px;
color: var(--secondary-color);
font-weight: bold;
}

.footer-list ul {
list-style: none;
padding: 0;
}

.footer-list ul li {
margin-bottom: 10px;
}

.footer-list ul li a {
color: var(--secondary-color);
text-decoration: none;
font-size: 16px;
transition: color 0.3s ease;
}

.footer-list ul li a:hover {
color: var(--secondary-color);
}

.social-icons a {
display: inline-flex;
justify-content: center;
align-items: center;
width: 2.5rem;
height: 2.5rem;
background-color: transparent;
border: 0.2rem solid  #1a0202;
font-size: 1.2rem;
border-radius: 50%;
margin: 0.2rem 0.5rem 0.2rem 0;
transition: 0.3s ease;
color:var(--secondary-color) #b74b4b;
text-decoration: none;
}

.social-icons a:hover {
color: black;
transform: scale(1.3) translateY(-5px);
background-color: #fffefe;
box-shadow: 0 0 25px #0c0909ef;
}
}
/* Responsive Styles */
@media (max-width: 768px) {
.footer-container {
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.footer-list,
.footer-description {
  width: 100%;
  margin-bottom: 20px;
}

footer p {
  padding: 10px 0;
}
}