/*-----------job listings-----------*/ 
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.job-listings {
    padding: 30px 90px;
    width: 70vw;
    margin: auto;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 70em;
}

.search-bar input[type="text"] {
    width: 50%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.search-bar button {
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
}

.search-bar button:hover {
    background-color: #3e8e41;
}

.job-listings h3 {
    color: #FF6868;
    font-size: 20px;
    letter-spacing: 6px;
    word-spacing: 10px;
    font-weight: 700;
    padding: 20px 0;
}

.job-item {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.card-body h5 {
    font-size: 30px;
    font-weight: bold;
}

.card-body h6 {
    color: #39DB4A;
    font-size: 18px;
    margin: 0;
}

.location {
    color: #6F6E6E;
    margin-left: auto;
}

.card-body p {
    color: #555555;
    font-size: 15px;
    margin: 10px 0;
}

.card-body button {
    background-color: #39DB4A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: auto;
    align-self: flex-end;
}

.card .apply-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card .apply-btn button {
    width: 150px;
    padding: 5px 15px;
    background-color: #ff6f61;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: 600;
}

.card button:hover {
    background-color: #33b84e;
}
