/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f4f4f4;
  --secondary-color: #333;
}
.darkmode {
  --primary-color: #333;
  --secondary-color: #f4f4f4;
}

.scroll-up-btn {
  all: unset;
  position: fixed;
  bottom: 25px;
  right: 30px;
  height: 40px;
  width: 40px;
  background-color:#ffa500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.scroll-up-btn .arrow-up {
  width:23px;
  height:23px;
  border-left: 3px solid #f9f9f9;
  border-bottom: 3px solid #f9f9f9;
  transform: rotate(135deg);
  margin-bottom: -9px;
  pointer-events: none;
}
body {
  font-family: Arial, sans-serif;
  color: var(--secondary-color);
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#icon {
  width: 30px;
  cursor: pointer;
}
header {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
  img {
    width: 50px;
    height: 50px;
  }
}

.logo:hover {
  color: #ff6f61;
}
#icon {
  width: 30px;
  cursor: pointer;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: var(--seondary-color);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff6f61;
}

@media (max-width: 768px) {
  nav ul li a:hover {
    color: #ff6f61;
    background-color: rgba(
      255,
      255,
      255,
      0.1
    ); /* Subtle background change for touch devices */
  }
}
.tab:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #ff6f61;
}


.tab.active {
    color: #ff6f61; 
    font-weight: bold; 
}
.navbar {
    position: relative;
}

#tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.tab {
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
