<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/components/ScrollToTop/ScrollToTop.css" />
  </head>
  <body>
    <a class="scroll-top" href="#">
      <i class="fa-solid fa-arrow-up"></i>
    </a>
  </body>
  <script>
      const scrollTopButton = document.querySelector(".scroll-top");
      scrollTopButton.style.display = "none";
      window.addEventListener("scroll", function () {
        if (window.scrollY > 100) {
          scrollTopButton.style.display = "block";
        } else {
          scrollTopButton.style.display = "none";
        }
      });
  </script>
</html>
