.scroll-top {
  position: fixed;
  bottom: 12px;
  right: 80px;
  background-color: #00ff40;
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10000;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.scroll-top,
.fa-arrow-up {
  font-size: 20px;
}
.scroll-top .fa-arrow-up {
  transition: 0.2s ease-out;
  color: #fff;
  transition: 0.2s ease-out;
}

.scroll-top:hover {
  background-color: #34947c;
}
.scroll-top:hover .fa-arrow-up {
  transform: translateY(-4px);
}
