<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <base href="/Pathsphere/"> -->
    <!-- uncomment above line if deploying to github pages -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <header>
      <nav id="navbar">
        <!-- Add an ID to the nav -->
        <a href="/index.html" class="logo"
          ><img src="/images/logo.png" alt="PathSphere Logo" /> PathSphere</a>
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <nav class="menu">
          <ul id="tabs">
            <li class="tab"><a href="/index.html">Home</a></li>
            <li class="tab">
              <a href="/pages/scholarship-feature/scholarships.html">Scholarships</a>
                >Scholarships</a
            </li>
            <li class="tab"><a href="../../pages/jobs/jobs.html">Jobs</a></li>
            <li class="tab">
              <a href="../../pages/forum/forum.html">Forum</a>
            </li>
            <li class="tab"><a href="../../pages/faqs/faqs.html">FAQs</a></li>
            <li class="tab"><a href="../../pages/blog/blog.html">Blog</a></li>
          </ul>
        </nav>
        <div class="cursor"></div>

        <img src="../../images/dark.png" id="icon" alt="" />
      </nav>
    </header>
    <script src="./Navbar.js"></script>
  </body>
</html>
