<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <base href="/Pathsphere/"> -->
    <!-- uncomment above line if deploying to github pages -->
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="footer-container">
      <div class="footer-description">
        <h3>PathSphere</h3>
        <p>
          PathSphere is a comprehensive platform designed to connect students
          with scholarship opportunities and educators with job openings. It
          features dynamic search tools and community discussions to enhance
          access to educational and career resources.
        </p>
      </div>
      <div class="footer-list">
        <h3>Quick links</h3>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li>
            <a href="/pages/scholarships/scholarships.html">Scholarships</a>
          </li>
          <li><a href="/pages/jobs/jobs.html">Jobs</a></li>
          <li><a href="/pages/forum/forum.html">Forum</a></li>
          <a href="/pages/contributor/index.html">Contributor</a></li>
          <li><a href="/pages/contact/contact.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-list">
        <h3>Follow us on</h3>
        <ul class="social-icons">
          <li>
            <a href="https://github.com" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://instagram.com" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://x.com" target="_blank"
              ><i class="fa-brands fa-x-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://facebook.com" target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://linkedin.com" target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
        </ul>
        <div>
          <img style="height: 25px;width: 200px;margin-top: 10px;" src="https://hits.sh/pathsphere.netlify.app.svg?label=Website%20Visitors&extraCount=1627&color=ffffff&labelColor=D4931D" alt="web-views">
        </div>
      </div>
    </div>
    <div class="copyright">&copy;&nbsp;<span id="Currentyear"> &nbsp;</span>&nbsp;PathSphere. All rights reserved.</div>

    <script>
        // Get the current year
        const currentYear = new Date().getFullYear();
        // Update the content of the span with the current year
        document.getElementById('Currentyear').textContent = currentYear;
    </script>
  </body>
</html>
