
body, html {
    
    width:100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.container-fluid, .row ,.col-12{
    height: 100%;
    width:100%;
    background-color: #ffffff;
}
.replies{
    color:black;
}
.community-forum
{
    background-image: url("./forum.images/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg");
    background-size: cover;
    height:90vh;
    width:100%;
    text-align: center;
    margin-top: 20px;
    
}

.com-head 
{
    
    color:white;
    font: 5rem Afacad Flux;
    font-weight:lighter;
    font-size: 3.5rem;
    /* -webkit-text-stroke: 2px white; */
    text-shadow: 4px 4px 8px rgba(71, 70, 70, 0.922);
}
.com-head2 
{
    color:white;
    font: 1.5rem Arial;
    margin-top: 30px;;
}
.com-pera 
{
    color:white;
    font-size:1rem;
    text-decoration: wavy;
    font-style: italic;
}

.com-diss 
{
    text-align: center;
    margin:5%;
    font-style:italic;
    background-color:#e9e9e9;
    border-radius:50px;
    height:15%;
    padding-top:10px;
    border:black solid 1px;
}

.diss 
{
    height:60%;
    width:94%;
    margin:3%;
    /* margin-right:4%; */
    padding:25px;
    border-radius:15px;
    background-color:rgb(241, 241, 241);
    border:rgb(166, 166, 166) solid 2px;
    margin-top:6%;
    margin-bottom:100px;
    box-shadow: 10px 15px #c9c9c9;
}

.diss-head
{
    text-align: center;
    font-family:Monaco;
    font-size:2.5rem;
    font-weight: bold;
}

.diss-pera{
    text-align: center;
    font-family: Arial;
    font-style: oblique;
    color: #4d4d4d;
    font-size:0.8rem;;
}
.diss-slides 
{
    height:60%;
    width:100%;
}

.dis-card:hover {
    background-color: white;
    transform: scale(1.1); /* Enlarge on hover */
  }
.dis-card 
{
    height:100%;
    width:90%;
    margin:10px;
    border:rgba(172, 172, 172, 0.551) solid 2px;
    border-radius: 15px;
    padding:15px;
    box-shadow: 10px 15px #d7d7d7;
    background-color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.diss-top 
{
    font-size:25px;
    font-weight: 500;
    
}
.posted 
{
    font-size: 10px;;
    font-weight: bold;
    font-style: oblique;
    color:#767575;
}
.join 
{
    width:30%;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color:white;
    font-weight: bold;
    border:none;
    transition: transform 0.2s ease;
}
.join:active {
    background-color:white;
    color:#000000;
    transform: scale(0.95); 
  }

.more {

    width:20%;
    height:50%;
    border-radius: 10px;
    color:white;
    background-color: black;
    cursor: pointer;
      transition: all 0.3s ease;
}

.more:hover {
    background-color: #ffffff;
    color:black;
    transform: scale(1.1); /* Slightly enlarge the button on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
  }
