
/* Overall container styling */
.container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f7f7;
  position: relative;
}

/* Main title styling */
.container h1 {
  text-align: center;
  color: #97136e; /* Keeping your original color */
  font-size: 2.5rem;
}
.content1{
  top: 30%;
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
}
.content1 h1{
  font-size: 100px;
  font-weight: 600;
}
.content1 h1:hover{
  color: #ffbb00;

}
.content1 h2{
  font-size: 30px;
  font-weight: 600;
  padding-left: 5pc;
}
.content1 h2 span{
  padding-top: 40px;
  color: #ffbb00;
}

/* Forum sections layout */
.sections {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
}
.hero1 {
  width: 100vw;
  height: 120vh;
  background-image: url(https://github.com/shriyadindi/comingsoonpage/blob/main/background.png?raw=true);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
}
.hero1 .left {
  width: 100%;
}
.hero1 .right {
  width: 40%;
}
.hero1 .right img {
  width: 500px;
  height: 300px;
}
.rocket{
  width: 250px;
  position: absolute;
  right: 5%;
  bottom: 0;
  animation: rocket 4s linear infinite;
}
@keyframes rocket{
  0%{
      bottom: 0;
      opacity: 0;
  }
  100%{
      bottom: 200%;
      opacity: 1;
  }
}
/* Forum-section cards */
.forum-section {
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 28%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  position: relative;
}

.forum-section:hover {
  transform: scale(1.05);
}

/* Forum-section title and paragraph */
.forum-section h2 {
  color: #ffbb00; /* Yellow theme */
  margin-bottom: 10px;
}

.forum-section p {
  color: #666;
  margin-bottom: 20px;
}

/* Forum posts inside cards */
.forum-post {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.post-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.post-details {
  color: #888;
  font-size: 0.9rem;
}

/* New Post button */
.new-post-button {
  display: inline-block;
  background-color: #ffbb00; /* Yellow theme */
  color: #333;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.new-post-button:hover {
  background-color: #ffbb00;
}

/* Responsive design */
@media screen and (max-width: 900px) {
  .sections {
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .forum-section {
    width: 70vw;
    position: relative;
  }
}
