@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
  overflow-x: hidden;
  /* to prevent horizontal scrolling */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  visibility: hidden;
  color: var(--secondary-color);
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Testimonial section*/
#testimonials {
  width: 80%;
  background-color: #f8f9fa;
  padding: 30px 0;
  margin: 60px 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  border-radius: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.col-md-4 {
  flex: 0 0 calc(33.333% - 30px);
  max-width: calc(33.333% - 30px);
}

.card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  height: 100%;
}

.card:hover {
  transform: scale(1.08);
  /* Increased hover scale for better interaction */
  box-shadow: 2px 2px 10px #248b6f;
  /* Stronger shadow on hover */
}


.card-body {
  padding: 1.5rem;
}

.rounded-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #f8f9fa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.font-weight-bold {
  font-weight: 600;
  color: #2d3748;
  font-size: 1.25rem;
  margin: 1rem 0 0.5rem 0;
}

.my-3 {
  margin: 1rem 0;
  color: #4a5568;
  font-size: 0.875rem;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.fas.fa-star,
.fas.fa-star-half-alt {
  color: #fbbf24;
  font-size: 1rem;
}

.pe-2 {
  padding-right: 0.5rem;
}

.fa-quote-left {
  color: #e2e8f0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-body p {
  color: #4a5568;
  line-height: 1.625;
  font-size: 0.9375rem;
  margin: 0;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.mb-4 {
  margin-bottom: 1.4rem;
}

.text-center {
  text-align: center;
}

.fw-bold {
  font-weight: 700;
}

@media (max-width: 992px) {
  .col-md-4 {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #testimonials {
    padding: 60px 0;
  }

  .container {
    padding: 0 15px;
  }
}

/*testimonial section end*/

.footer-container {
  position: relative;
  bottom: 60px;
  /* height: 220px; */
}

html {
  scroll-behavior: smooth;
}

main {
  position: relative;
  bottom: 60px;
}

.darkmode main {
  background-color: #121212;
}

.darkmode .col-12 {
  background-color: #121212;
}
.darkmode .dis-card {
  background-color: #202020;
}
.darkmode .diss-top {
  color: rgb(209, 205, 205);
}

.darkmode .copyright {
  background-color: #3C3D37;
  color: #fff;
}

.darkmode .scroll-up-btn {
  z-index: 1000;
}
.darkmode .replies{
  color:white;
}

.darkmode .feature {
  background-color: #202020;
}

.darkmode .why-us h1 {
  color: #fff;
}

.darkmode .why-us p{
  color: #f6f2f2;
}

.darkmode .why-us p {
  color: #8d8a8a;
}

.darkmode #testimonials {
  background-color: #202020;
}

.darkmode .card {
  background-color: #121212;
}

.darkmode .card h5 {
  color: #fff;
}

.darkmode .card h6 {
  color: #fff;
}
.darkmode #testimonials p{
  color: #fff;
}
.darkmode .card h2{
  color: #fff;
}

.darkmode #testimonials h3{
  color: #fff;
} 
.darkmode #testimonials h3+p{
  color: #a39292;
} 

.darkmode #testimonials h3 {
  color: #fff;
}

.darkmode #testimonials h3+p {
  color: #8d8a8a;
}


.darkmode .feature p {
  color: #fff;
}

.darkmode .feature h2 {
  color: #fff;
}

.darkmode .text-content h3 {
  color: #fff;
}

.darkmode .text-content p {
  color: #fff;
}

.darkmode .feature-item {
  background: #202020;
}

.darkmode .feature-item h6 {
  color: #fff;
}
.darkmode .feature-item h6 a{
  color: #fff;
}

.darkmode .footer-container {
  background-color: #121212;
  border-top: 2px solid #fff;
  color: #fff;
}



/*.darkmode .footer-container {
  background-color: #121212;
  border-top: 2px solid #fff;
  color: #fff;
}*/


.darkmode .card p{
  color: #fff;
}

.darkmode .social-icons li a:hover {
  background-color: #202020;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9800;
  border-radius: 100vw;
}

@supports (scrollbar-color: #ff9800) {
  * {
    scrollbar-color: #ff9800;
  }
}

#icon {
  width: 30px;
  cursor: pointer;
}

.hamburger {
  display: none;
  background-color: #359b6b; 

}

header {
  margin-top: 10px;
  padding: 10px 0;
  position: fixed;
  border: 2px solid black;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  height: 70px;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;

  img {
    width: 50px;
    height: 50px;
  }
}
/*  */
/* .logo:hover { */
  /* color: #ff6f61; */
/* } */
/*  */

.logo:hover {
  color: #359b6b; /* Hover color */
  transform: scale(1.04); /* Slightly enlarge */
  text-shadow: 0 4px 15px #2d815a; /* Glow effect */
}
#icon {
  width: 30px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 5px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px 0 25px;
}

.menu a {
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.3em;
  transition: color 0.3s ease;
  font-family: 'Playpen Sans',;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.menu a:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3S;
}
 .menu a:hover {
  color: rgb(13 110 253);
}
.menu a:hover:after {
  width: 100%;
}

/* nav ul li a { */
/* color: var(--secondary-color); */
/* text-decoration: none; */
/* font-size: 1.3em; */
/* transition: color 0.3s ease; */
/* font-family: 'Playpen Sans', cursive; */
/* font-optical-sizing: auto; */
/* font-weight: 400; */
/* font-style: normal; */
/* } */
/*  */
/* nav ul li a:hover { */
/* color: #7965ea; */
/* } */

@media (max-width: 1000px) {
  nav ul li a:hover {
    color: #ff6f61;
    background-color: rgba(255, 255, 255, 0.1);
  }

  header {
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.1);
    height: 80px;
    position: fixed;
    width: 100vw;
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(20px);
    z-index: 9990;
  }

  .logo {
    padding-left: 10%;
    width: 55%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-list:nth-of-type(3) ul {
    flex-direction: row;
    justify-content: center;
  }

  ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px 0 25px;
  }

  .footer-list:nth-of-type(3) ul li {
    padding: 0px;
  }

  ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Playpen Sans', cursive;
    font-optical-sizing: auto;
    font-size: 1.3em;
    font-weight: 400;
    font-style: normal;
  }

  .hamburger {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  }

  .hamburger span:hover {
    background-color: #555;
  }

  .menu {
    position: absolute;
    top: 120px;
    left: 0;
    background-color: #f9f9f9;
    padding: 10px;
    display: none;
  }

  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu a {
    text-decoration: none;
    color: #333;
  }

  .menu a:hover {
    color: #555;
  }

  .hamburger.active span {
    background-color: #555;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .menu.active {
    display: block;
  }

  .footer-description p {
    text-align: start;
  }
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero {
  width: 100%;
  color: var(--primary-color);
  text-align: center;
  padding: 100px 20px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  background-image: url('https://img.freepik.com/free-photo/education-day-arrangement-table-with-copy-space_23-2148721266.jpg?t=st=1727864712~exp=1727868312~hmac=ad6cdca7dd7562e07c00b01f1fc711291818cc361847f5101e93b993ec72ed69&w=826');
  background-repeat: no-repeat;

  background-size: cover;
  height: 100vh;
}

.hero h1 {

  font-size: 50px;
  margin: 0;
  padding: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #ffffff;

}

/* Hover state */
.hero h1:hover {
  text-decoration: underline;
  /* Underline on hover */
  color: #ffa500;
  /* Change color on hover (optional) */
  transform: scale(1.05);
  /* Slight pop-out effect */
}

.hero p {
  font-size: 24px;
  padding: 10px;
}

.hero .left {
  width: 100%;
}

.hero .right {
  width: 40%;
}

.hero .right img {
  width: 500px;
  height: 300px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: var(--primary-color);
  background: var(--secondary-color);
  text-decoration: none;
  border-radius: 5px;
}

.feature-box {
  display: flex;
  justify-content: center;
  margin: 75px 0;
}

.features {
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: var(--primary-color);
  flex-wrap: wrap;
  gap: 60px;
}

.feature {
  text-align: center;
  padding: 20px;
  border: 1px solid #9ecfb8;
  border-radius: 25px;
  gap: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin-bottom: 20px;
  transition: transform 0.2s;
  background-color: #e5fff3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.feature-item h6 {
  color: #000000;
  /*to keep the text color black*/
}

.feature .feature-img {
  width: 50px;
  margin: 10px auto;
}

@media (max-width: 700px) {
  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .feature {
    width: 100%;
    height: 100%;
  }
}

.feature:hover {
  transform: scale(1.05);
}

.feature img {
  max-width: 100%;
  height: auto;
}

.feature h2 {
  font-size: 24px;
  color: var(--primary-color);

  font-size: 24px;
  color: var(--primary-color);

  margin: 10px 0;
}

.feature p {
  color: var(--primary-color);
  margin-bottom: 15px;
}

.toggle-icon {
  margin-right: 10px;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.toggle-icon.rotate {
  transform: rotate(180deg);
}

.btn {
  display: inline-block;
  background-color: #359b6b;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #b88830;
}

@keyframes popup {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


/*footer*/

footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
 
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 60px;
  background-color: #f9f9f9;
  color: var(--secondary-color);
  flex-wrap: wrap;
  gap: 20px;
  border: 2px solid black;
}

.footer-description {
  flex: 1;
  max-width: 400px;
}

.footer-description h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--secondary-color);
}

.footer-description p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--secondary-color);
}

.footer-list h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--secondary-color);
  font-weight: bold;
}

.footer-list ul {
  list-style: none;
  padding: 0;
  /*display: flex;
  flex-direction: column;*/
  text-align: center
}

.footer-list ul li {
  margin-bottom: 10px;
}

.footer-list ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-list ul li a:hover {
  color: var(--secondary-color);
}

.social-icons {
  display: flex;
}

.social-icons a {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 0.2rem solid #1a0202;
  font-size: 1.2rem;
  border-radius: 50%;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: 5s;
  color: var(--secondary-color) #b74b4b;
  text-decoration: none;
}

.social-icons a:hover {
    color: white;
    transform: scale(1.1);
    padding: 2px 2px;
    border-radius: 4px;
    border: none;
}
#github, #linkedin, #instagram,#facebook,#twitter{
  transition: all .38s ease;
}
#github:hover{
  color: white;
  background-color:#3a383c ;
  font-size: 1.5rem;
}
#linkedin:hover{
  color: white;
  background-color:#0a66c2 ;
  font-size: 1.5rem;
}
#instagram:hover{
  color: white;
  background-color: #e1306c;
  font-size: 1.5rem;
}
#twitter:hover{
  color: white;
  background-color: #14171A;
  font-size: 1.5rem;
}
#facebook:hover{
  color: white;
  background-color: #106bcb;
  font-size: 1.5rem;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  height: 60px;
  position: relative;
  bottom: 60px;
}

@media (max-width: 768px) {
  .footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    flex-wrap: wrap;
    gap: 20px;
    
  }

  .footer-description {
    flex: 1;
    max-width: 400px;
  }

  .footer-description h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--secondary-color);
  }

  .footer-description p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--secondary-color);
  }

  .footer-list h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--secondary-color);
    font-weight: bold;
  }

  .footer-list ul {
    list-style: none;
    padding: 0;
  }

  .footer-list ul li {
    margin-bottom: 10px;
  }

  .footer-list ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .footer-list ul li a:hover {
    color: var(--secondary-color);
  }

  /* .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.2rem solid #1a0202;
    font-size: 1.2rem;
    border-radius: 50%;
    margin: 0.2rem 0.5rem 0.2rem 0;
    transition: 0.3s ease;
    color: var(--secondary-color) #b74b4b;
    text-decoration: none;
  }

  .social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #fffefe;
    box-shadow: 0 0 25px #0c0909ef;
  } */

  @media (max-width: 768px) {
    .footer-container {
      padding: 20px;
      flex-direction: column;
      align-items: center;
    }

    .footer-list,
    .footer-description {
      width: 100%;
      margin-bottom: 20px;
    }

    footer p {
      padding: 10px 0;
    }
  }

  .copyright {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
  }

  .container {
    width: 85%;
    margin: 40px auto;
    padding: 0 20px;
  }

  h1 {
    font-size: 2em;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 40px;
  }

  .forum-section {
    background-color: var(--primary-color);
    padding: 25px 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .forum-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  }

  .forum-section h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #d83d77;
    border-left: 5px solid #1e3a8a;
    padding-left: 10px;
  }

  .forum-section p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
  }

  .forum-post {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid var(--primary-color);
    transition: background-color 0.2s;
  }

  .blog-header {
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
  }

  .blog-posts {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }

  .blog-post {
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .forum-post:hover {
    background-color: var(--primary-color);
    background-color: var(--primary-color);
  }

  .blog-post h2 {
    margin-bottom: 0.5rem;
    color: #333;
  }

  .blog-post p {
    font-size: 1rem;
    color: #555;
  }

  .forum-post .post-title:hover {
    color: #2563eb;
  }

  .forum-post .post-details {
    font-size: 0.9em;
    color: #64748b;
  }

  .new-post-button {
    background-color: #ff6f61;
    color: var(--primary-color);
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.2s ease, transform 0.2s ease;
    margin-top: 15px;
  }

  .new-post-button:hover {
    background-color: #2563eb;
    transform: translateY(-3px);
  }

  .read-more {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .read-more:hover {
    background-color: #0056b3;
  }

  html {
    scroll-behavior: smooth;
  }

  .section {
    padding: 50px 0;
  }

  .container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .text-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .text-content p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .feature-item {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;

  }

  .feature-item i {
    font-size: 30px;
    margin-right: 20px;
    color: #3498db;
    background-color: rgba(52, 152, 219, 0.1);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
  }

  .feature-item h6 {
    font-size: 18px;
    margin: 0;
  }

  .feature-item p {
    font-size: 14px;
    margin-top: 5px;
    color: #555;
  }

  .image-content {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-content img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .image-content img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 992px) {

    .text-content,
    .image-content {
      flex-basis: 100%;
    }

    .feature-item {
      width: 100%;
    }

    .image-content img {
      height: auto;
      object-fit: contain;
    }
  }

  .cursor {
    position: absolute;
    height: 5px;
    width: 0;
    background: #ff6f61;
    border-radius: 5px;
    pointer-events: none;
    transition: width 0.3s ease, left 0.3s ease;
  }

  .tab:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff6f61;
  }

  .tab.active {
    color: #ff6f61;
    font-weight: bold;
  }

  .navbar {
    position: relative;
    width: 100%;
  }

  #tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .tab {
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .tab:hover {
    background-color: rgb(206, 200, 200);
  }

  .cursor {
    position: absolute;
    height: 30px;
    width: 30px;
    background: black;
    border-radius: 50%;
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
  }
}

.section {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2em;
  color: #333;
}

.text-content p {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-bottom: 40px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-item-box {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: 50px 0; */
}

.feature-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-10px);
}

.feature-item i {
  font-size: 2em;
  color: #007bff;
  margin-right: 20px;
}

.feature-item h6 {
  font-size: 1.5em;
  margin: 0;
  color: #333;
  text-align: left;
}

.feature-item p {
  margin: 5px 0 0;
  color: #666;
  text-align: left;
}

@media (max-width: 768px) {
  .feature-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .feature-item {
    flex: 1 1 100%;
  }
}

.why-us {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-top: 30px;
}

.why-us p {
  text-align: center;
}

.about {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media(max-width: 700px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}


.forum {
  background-color: lightseagreen;
  height: 100%;
  width: 100%;
}

.forum-section {
  margin: 10px;
  font-size: 20px;


}

a.new {
  box-sizing: border-box;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.scroll-top {
  position: fixed;
  bottom: 12px;
  right: 80px;
  background-color: #00ff40;
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10000;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.scroll-top .fa-arrow-up {
  transition: 0.2s ease-out;
  color: #fff;
  transition: 0.2s ease-out;
}

.scroll-top:hover {
  background-color: #34947c;
}

.scroll-top:hover .fa-arrow-up {
  transform: translateY(-4px);
}


.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.star-rating li {
  padding: 0 1px;
  list-style: none;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Sharing {
  position: relative;
  z-index: 1;
}

.Sharing .circle-share {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #fbbf24;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 2px #1f2d3a;
  cursor: pointer;
  text-align: center;
}

.Sharing{
	position: relative;
	z-index: 1;
}
.Sharing .circle-share{
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #fbbf24;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 2px #1f2d3a;
	cursor: pointer;
	text-align: center;
}
.Sharing .circle-share .fa-share-alt{
	line-height: 50px;
	color: #150b0b;
  width: 20px;
}
.Sharing ul{
	list-style-type: none;
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: #fff;
	top: -50px;
	left: -50px;
	z-index: -1;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 2px #1f2d3a,
				0px 0px 0px 5px #fff;
	transform: scale(.3) rotate(-180deg);
	transition: .5s ease-in;
}
.Sharing:hover ul{
	transform: scale(1) rotate(0deg);	
}

.Sharing .circle-share .fa-share-alt {
  line-height: 50px;
  color: #fff;
}

.Sharing ul {
  list-style-type: none;
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #fff;
  top: -50px;
  left: -50px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 2px #1f2d3a,
    0px 0px 0px 5px #fff;
  transform: scale(.3) rotate(-180deg);
  transition: .5s ease-in;
}

.Sharing:hover ul {
  transform: scale(1) rotate(0deg);
}

.Sharing ul:before,
.Sharing ul:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #1f2d3a;
  top: 50%;
}

.Sharing ul:before {
  left: -1px;
  transform: rotate(45deg);
}

.Sharing ul:after {
  right: -1px;
  transform: rotate(-45deg);
}

.Sharing ul li a {
  text-decoration: none;
  font-size: 25px;
}

.Sharing ul li:first-of-type a {
  color: #3b5999;
}

.Sharing ul li:nth-of-type(2) a {
  color: #25D366;
}

.Sharing ul li:nth-of-type(3) a {
  color: black;
}

.Sharing ul li:last-of-type a {
  color: #e4405f;
}

.Sharing ul li:first-of-type {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

.Sharing ul li:nth-of-type(2) {
  position: absolute;
  left: 10px;
  transform: translateY(-50%);
  top: 50%;
}

.Sharing ul li:nth-of-type(3) {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
}

.Sharing ul li:last-of-type {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}